USE [SwimClubMeet2]
GO
/****** Object:  UserDefinedFunction [dbo].[TimeToBeat_1]    Script Date: 06/11/2025 10:07:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Ben Ambrose
-- Create date: 3/8/2019
-- Updated 16/5/2020
-- Modified 06/11/2025 DB ver2
-- Description:	Get TimeToBeat 
-- algorithm 1 ... last known racetime
-- =============================================
ALTER FUNCTION [dbo].[TimeToBeat_1] (
	-- Add the parameters for the function here
	@MemberID INT,
	@DistanceID INT,
	@StrokeID INT,
	@SessionDate DATETIME = NULL
	)
RETURNS TIME
AS
BEGIN
	-- Declare the return variable here
	DECLARE @Result TIME

	-- use a default sessiontime
	IF @SessionDate IS NULL
		SET @SessionDate = GETDATE();

	-- Add the T-SQL statements to compute the return value here
	SELECT TOP (1) @Result = Lane.RaceTime
    FROM [Member]
	INNER JOIN Nominee ON [Member].[MemberID] = Nominee.MemberID
	INNER JOIN Lane ON Nominee.NomineeID = Lane.NomineeID
	INNER JOIN Heat ON Lane.HeatID = Heat.HeatID
	INNER JOIN Event ON Heat.EventID = Event.EventID
	INNER JOIN Session ON Event.SessionID = Session.SessionID
	WHERE (Lane.RaceTime IS NOT NULL)
		AND (Lane.IsDisqualified <> 1) -- added 16/5/2020
		AND (Lane.IsScratched <> 1) -- added 16/5/2020
		AND ([Member].[MemberID] = @MEMBERID)
		AND (Session.SessionDT < @SESSIONDATE)
		AND Event.DistanceID = @DISTANCEID
		AND Event.StrokeID = @STROKEID
	ORDER BY Session.SessionDT DESC,
		Lane.RaceTime ASC

	-- Return the result of the function
	RETURN @Result
END
