USE [SwimClubMeet2]
GO
/****** Object:  UserDefinedFunction [dbo].[TimeToBeat_2]    Script Date: 06/11/2025 10:11:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Ben Ambrose
-- Create date: 3/8/2019
-- Updated 16/5/2020
-- Modified 12/02/24 - Replaced TOP(3) now uses ROW_NUMBER()
-- Modified 06/11/2025 DB ver2.
-- Description:	Get the timeToBeat for a given member
-- Use the average of the 3 fastest race times.
-- =============================================
ALTER FUNCTION [dbo].[TimeToBeat_2] (
	-- Add the parameters for the function here
	@MemberID INT,
	@DistanceID INT,
	@StrokeID INT,
	@SessionDate DATETIME
	)
RETURNS TIME
AS
BEGIN
	-- Declare the return variable here
	DECLARE @Result TIME;
	DECLARE @tmpFloat FLOAT;
	

/*
	WITH tmpTable
	AS (
		SELECT TOP (3) [Event].DistanceID,
			[Event].StrokeID,
			Entrant.RaceTime,
			Entrant.MemberID
		FROM Entrant
		INNER JOIN Heat ON Entrant.HeatID = Heat.HeatID
		INNER JOIN [Event] ON Heat.EventID = [Event].EventID
		INNER JOIN [Session] ON [Event].SessionID = [Session].SessionID
		WHERE (Entrant.RaceTime IS NOT NULL)
			AND (Entrant.IsDisqualified <> 1) -- added 16/5/2020
			AND (Entrant.IsScratched <> 1) -- added 16/5/2020
			AND (Entrant.MemberID = @MEMBERID)
			AND ([Session].SessionStart < @SESSIONDATE)
			AND [Event].DistanceID = @DISTANCEID
			AND [Event].StrokeID = @STROKEID
		-- ErStudio VALIDATION ERROR - doesn't understand TOP + ORDER BY
		-- ACCEPTED BY MS SQL - TOP is permitted in CTE table when ORDER BY is included
		ORDER BY Entrant.RaceTime ASC
		)
*/
	

	-- very specific criteria 
	-- only pull a short list of racetime 
	-- not ordered
	WITH tmpTable AS (
		SELECT 
			[Event].DistanceID,
			[Event].StrokeID,
			Lane.RaceTime,
			[Member].[MemberID],
			ROW_NUMBER() OVER (ORDER BY Lane.RaceTime ASC) AS rn
    FROM [Member]
	INNER JOIN Nominee ON [Member].[MemberID] = Nominee.MemberID
	INNER JOIN Lane ON Nominee.NomineeID = Lane.NomineeID
		INNER JOIN Heat ON Lane.HeatID = Heat.HeatID
		INNER JOIN [Event] ON Heat.EventID = [Event].EventID
		INNER JOIN [Session] ON [Event].SessionID = [Session].SessionID
		WHERE (Lane.RaceTime IS NOT NULL)
			AND (Lane.IsDisqualified <> 1) --added 16/5/2020
			AND (Lane.IsScratched <> 1) -- added 16/5/2020
			AND ([Member].[MemberID] = @MEMBERID)
			AND ([Session].SessionDT < @SESSIONDATE)
			AND [Event].DistanceID = @DISTANCEID
			AND [Event].StrokeID = @STROKEID
	)
	SELECT @tmpFloat = AVG(CAST(CAST(tmpTable.RaceTime AS DATETIME) AS FLOAT))
	FROM tmpTable
	WHERE rn <= 3;

	SET @Result = CAST(CAST(@tmpFloat AS DATETIME) AS TIME);

	RETURN @Result;
END
